h1{
    color: rgb(255, 0, 51);
    font-size: 45px;
    background-color: darkgrey;
    text-align: left;
}
h3{
    color: gold;
    font-size: 38px;
    background-color: indigo;
    text-align: center;
}



  